@{
    ViewData["Title"] = "ViewUnassignedParcelList";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parcel Tracking</title>

    <!-- CSS File -->
    <link rel="stylesheet" href="~/css/customertracking.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <!-- Box Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        @await Html.PartialAsync("~/Views/Home/_CustomerMenu.cshtml")
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>


    <!-- Main Content Section -->
    <main>
        <form class="tracking-form" method="post" asp-action="Assign">
            <label for="parcel-id">Parcel ID:</label>
            <input type="text" id="parcel-id" name="parcelId" required>
            <br>
            <input type="submit" value="Assign">
        </form>
    </main>
</body>
</html>

