/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.field-validation-error {
    color: red;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #87CEFA;
  padding: 0 20px 0 20px;
}
.container {
  position: relative;
  max-width: 900px; /* Increase the max-width to the desired value */
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.input-box.address {
  width: 100%; 
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
/* CSS for the Salutation Section */
.gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.gender-option {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gender {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.gender input {
  display: none;
}

.gender label {
  color: #000; /* Changed color to black */
  font-weight: bold;
  padding: 8px 16px;
  border: 2px solid #000; /* Changed border color to black */
  border-radius: 20px;
}

.gender input:checked + label {
  background-color: #000; /* Changed background color to black */
  color: #fff; /* Changed text color to white */
}


.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 45px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #ececec;
  border-radius: 5px;
}

.form button:hover {
  background: black;
  color: #fff;
}

.register {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}

span a{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  transition: .5s;
}
span a:hover{
  text-decoration: underline;
  color: #000;
}

.address-container {
    display: flex;
    gap: 15px;
}